@using Entity
@model List<Currents>
@{
    ViewBag.Title = "HospitalList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover table-rounded table-striped border gy-7 gs-7">
    <thead>
        <tr class="fw-bold fs-6 text-gray-800 border-bottom-2 border-gray-200">
            <th>Hastane Kodu</th>
            <th>Hastane Adı</th>
            <th>Hastane Telefon</th>
            <th>Hastane Mail</th>
            <th>Yetkili Kişi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Currents hsp in Model)
        {
            <tr>
                <td>@hsp.CurrentNo</td>
                <td>@hsp.CurrentName</td>
                <td>@hsp.CurrentPhone</td>
                <td>@hsp.CurrentMail</td>
                <td>@hsp.AuthorizedName1</td>
                <td>
                    <div class="float-end">
                        @Html.ActionLink("Update", "Update", "Hospital", new { pId = hsp.Id }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Delete", "Delete", "Hospital", new { pId = hsp.Id }, new { @class = "btn btn-danger btn-sm" })
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>

